force-app/main/default/flows/Check_Baseline_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set Today&apos;s Date</description>
        <name>assignContactId</name>
        <label>assignCandidateId</label>
        <locationX>771</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>Today</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Current_IDC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Candidate_Variables</name>
        <label>Set Candidate Variables</label>
        <locationX>491</locationX>
        <locationY>258</locationY>
        <assignmentItems>
            <assignToReference>vCandidateFName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCandidateLName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Candidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Course_Contact_Values</name>
        <label>Set Course Contact Values</label>
        <locationX>1308</locationX>
        <locationY>251</locationY>
        <assignmentItems>
            <assignToReference>newCourseContactRecord.Course__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCourseContactRecord.Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Course_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>candidatesExistsOrNot</name>
        <label>candidateExistsOrNot</label>
        <locationX>403</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Check_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Candidate Exists</defaultConnectorLabel>
        <rules>
            <name>Doesn_t_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCandidateFName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vCandidateLName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Setup_Candiate_Details</targetReference>
            </connector>
            <label>Doesn&apos;t Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Entered_Email</name>
        <label>Check Entered Email</label>
        <locationX>165</locationX>
        <locationY>228</locationY>
        <defaultConnector>
            <targetReference>Get_Candidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Entered</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCandidateEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue/>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Candidate_Email</targetReference>
            </connector>
            <label>Is Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CC_Id</name>
        <label>Has CC Id?</label>
        <locationX>1298</locationX>
        <locationY>70</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_CC_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCourseContactId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Course_Contact_Values</targetReference>
            </connector>
            <label>No CC Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>IDC found?</description>
        <name>isIDC</name>
        <label>isIDC?</label>
        <locationX>1000</locationX>
        <locationY>71</locationY>
        <defaultConnector>
            <targetReference>Get_Course_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>hasIDC</defaultConnectorLabel>
        <rules>
            <name>No_IDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vIDC</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>No_IDC_Found</targetReference>
            </connector>
            <label>No IDC</label>
        </rules>
    </decisions>
    <description>Ensure that data is available for Course Contact and Exam Assignment objects and if not create the data and make sure that it is tied to the current IDC</description>
    <interviewLabel>Check Baseline Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check Baseline Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Candidate</name>
        <label>Add Candidate</label>
        <locationX>575</locationX>
        <locationY>258</locationY>
        <assignRecordIdToReference>vCandidateId</assignRecordIdToReference>
        <connector>
            <targetReference>SuccessCandidate</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Contact</name>
        <label>Create Course Contact</label>
        <locationX>1311</locationX>
        <locationY>410</locationY>
        <inputReference>newCourseContactRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get IDC Candidate details</description>
        <name>Get_Candidate</name>
        <label>Get Candidate</label>
        <locationX>280</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>candidatesExistsOrNot</targetReference>
        </connector>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </filters>
        <object>Candidate__c</object>
        <outputAssignments>
            <assignToReference>vCandidateFName</assignToReference>
            <field>First_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCandidateId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCandidateLName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Contact</name>
        <label>Get Course Contact</label>
        <locationX>1163</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_CC_Id</targetReference>
        </connector>
        <filters>
            <field>Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </filters>
        <object>Course_Contact__c</object>
        <outputAssignments>
            <assignToReference>vCourseContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the ID for the current IDC</description>
        <name>Get_Current_IDC</name>
        <label>Get Current IDC</label>
        <locationX>895</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isIDC</targetReference>
        </connector>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <object>Course__c</object>
        <outputAssignments>
            <assignToReference>Today</assignToReference>
            <field>End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIDC</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Today</assignToReference>
            <field>Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Check_Candidate_Email</name>
        <label>Check Candidate Email</label>
        <locationX>171</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Entered_Email</targetReference>
        </connector>
        <fields>
            <name>getCandidateEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>vCandidateEmail</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>615</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignContactId</targetReference>
        </connector>
        <fields>
            <name>showEmail</name>
            <fieldText>&lt;p&gt;Successfully verified your email:&lt;/p&gt;&lt;p&gt;{!vCandidateEmail}&lt;/p&gt;&lt;p&gt;{!vCandidateFName} {!vCandidateLName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_IDC_Found</name>
        <label>No IDC Found</label>
        <locationX>1009</locationX>
        <locationY>264</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>shoNoIdc</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No IDC could be found - please contact IDC Staff to setup the record.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Candiate_Details</name>
        <label>Setup Candiate Details</label>
        <locationX>410</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Candidate_Variables</targetReference>
        </connector>
        <fields>
            <name>topper</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Cant find your record.  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;No problem - let&apos;s get that sorted out!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please enter your details below:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessCandidate</name>
        <label>SuccessCandidate</label>
        <locationX>666</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignContactId</targetReference>
        </connector>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Your candidate details ave been successfully registered!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Email: {!vCandidateEmail}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;{!vCandidateFName} {!vCandidateLName}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>66</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Check_Candidate_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCourseContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Course_Contact__c</objectType>
    </variables>
    <variables>
        <description>Today&apos;s Date</description>
        <name>Today</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCandidateFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Incoming Contact (Candidate) Id</description>
        <name>vCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCandidateLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCourseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id for Exam</description>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>IDC Course ID variable</description>
        <name>vIDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
