force-app/main/default/flows/Exam_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>End_Setup_List</name>
        <label>End Setup List</label>
        <locationX>370</locationX>
        <locationY>845</locationY>
        <assignmentItems>
            <assignToReference>vTheorySelectionArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vPart2String</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Exam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>904</locationX>
        <locationY>116</locationY>
        <assignmentItems>
            <assignToReference>vLoopGSPQCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_GSP_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PreGSP_Assignments</name>
        <label>PreGSP Assignments</label>
        <locationX>402</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>vExamName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newGSPExamName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pick_Exam_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQuestonCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopGSPQCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_GSP_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SectionsList</name>
        <label>SectionsList</label>
        <locationX>177</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>vSelections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Theory_Sections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSelections</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Start_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Counter</name>
        <label>Set Counter</label>
        <locationX>450</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>vLoopQCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTheorySelections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Coerce_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_GSP_Fields</name>
        <label>Set GSP Fields</label>
        <locationX>699</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>loopEachGSPquestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLoopGSPQCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopEachGSPquestion.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopEachGSPquestion.Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewGSP.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopEachGSPquestion.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewGSP.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopEachGSPquestion.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewGSP.Correct_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopEachGSPquestion.Correct_Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewGSP.Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewGSP.Question_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopEachGSPquestion.Question_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vGSPexamQuestionsUPLOAD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLoopEachNewGSP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Question</name>
        <label>Set New Question</label>
        <locationX>1101</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>loopExamQns.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vLoopQCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopQCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopExamQns.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopExamQns.Exam_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExamSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopExamQns.Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Active__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Exam_Section__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Exam_Section__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Exam__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Exam__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Question_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Question_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Question_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Question_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vLoopEachNewQuestion.Correct_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopExamQns.Correct_Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vNewTheoryExamUPLOAD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vLoopEachNewQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNewQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Short_String</name>
        <label>Set Part Strings</label>
        <locationX>40</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>vSelections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vPart2String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPart1String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTrim1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Got_All_Selections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Skills_Environment</name>
        <label>Set Skills &amp; Environment</label>
        <locationX>450</locationX>
        <locationY>1320</locationY>
        <assignmentItems>
            <assignToReference>vExamSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skills &amp; Environment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Theory_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Start_Processing</name>
        <label>Start Processing</label>
        <locationX>175</locationX>
        <locationY>688</locationY>
        <assignmentItems>
            <assignToReference>vPart1String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTrim1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vPart2String</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fTrim2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vTheorySelectionArray</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vPart1String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ceTheory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQuestonCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fQuestionCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Short_String</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ce12Questions</name>
        <choiceText>{!cTheory12Q}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cTheory12Q</elementReference>
        </value>
    </choices>
    <choices>
        <name>ce20Questions</name>
        <choiceText>{!cTheory20Q}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cTheory20Q</elementReference>
        </value>
    </choices>
    <choices>
        <name>ceEquipment</name>
        <choiceText>{!cEquipment}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cEquipment</elementReference>
        </value>
    </choices>
    <choices>
        <name>ceGSP</name>
        <choiceText>{!cGSP}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>GSP</stringValue>
        </value>
    </choices>
    <choices>
        <name>cePhysicsSection</name>
        <choiceText>{!cPhysics}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cPhysics</elementReference>
        </value>
    </choices>
    <choices>
        <name>cePhysiologyChoice</name>
        <choiceText>{!cPhysiology}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cPhysiology</elementReference>
        </value>
    </choices>
    <choices>
        <name>ceRDP</name>
        <choiceText>{!cRDP}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cRDP</elementReference>
        </value>
    </choices>
    <choices>
        <name>ceSkills</name>
        <choiceText>{!cSkills}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cSkills</elementReference>
        </value>
    </choices>
    <choices>
        <name>ceTheory</name>
        <choiceText>{!cTheory}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>cTheory</elementReference>
        </value>
    </choices>
    <constants>
        <name>cEquipment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equipment</stringValue>
        </value>
    </constants>
    <constants>
        <name>cGSP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GSP</stringValue>
        </value>
    </constants>
    <constants>
        <name>cPhysics</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Physics</stringValue>
        </value>
    </constants>
    <constants>
        <name>cPhysiology</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Physiology</stringValue>
        </value>
    </constants>
    <constants>
        <name>cRDP</name>
        <dataType>String</dataType>
        <value>
            <stringValue>RDP</stringValue>
        </value>
    </constants>
    <constants>
        <name>cSkills</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Skills</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTheory</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Theory</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTheory12Q</name>
        <dataType>String</dataType>
        <value>
            <stringValue>12</stringValue>
        </value>
    </constants>
    <constants>
        <name>cTheory20Q</name>
        <dataType>String</dataType>
        <value>
            <stringValue>20</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Section_Name</name>
        <label>Check Section Name</label>
        <locationX>620</locationX>
        <locationY>1018</locationY>
        <defaultConnector>
            <targetReference>loopSections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null Section</defaultConnectorLabel>
        <rules>
            <name>Section_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopTheorySelections</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Counter</targetReference>
            </connector>
            <label>Each Section</label>
        </rules>
    </decisions>
    <decisions>
        <description>Change Skills to Skills &amp; Environment</description>
        <name>Coerce_Skills</name>
        <label>Coerce Skills</label>
        <locationX>442</locationX>
        <locationY>1143</locationY>
        <defaultConnector>
            <targetReference>Get_Theory_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Skills</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skills_Environment</targetReference>
            </connector>
            <label>Is Skills</label>
        </rules>
    </decisions>
    <decisions>
        <name>examType</name>
        <label>Exam Type?</label>
        <locationX>263</locationX>
        <locationY>380</locationY>
        <defaultConnector>
            <targetReference>Pick_Theory_Sections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Picked Theory</defaultConnectorLabel>
        <rules>
            <name>Picked_GSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pick_Exam_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ceGSP</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GSPpage</targetReference>
            </connector>
            <label>Picked GSP?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Got_All_Selections</name>
        <label>Got All Selections?</label>
        <locationX>168</locationX>
        <locationY>848</locationY>
        <defaultConnector>
            <targetReference>Start_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Processing</defaultConnectorLabel>
        <rules>
            <name>Process_Not_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSelections</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vPart2String</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>End_Setup_List</targetReference>
            </connector>
            <label>Processing Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Process_Section_Question</name>
        <label>Process Question?</label>
        <locationX>1097</locationX>
        <locationY>1277</locationY>
        <defaultConnector>
            <targetReference>loopNewQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Dont Process</defaultConnectorLabel>
        <rules>
            <name>Process_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopExamQns.Exam_Section__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vExamSection</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vLoopQCounter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fQuestionCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Question</targetReference>
            </connector>
            <label>Process Question</label>
        </rules>
    </decisions>
    <formulas>
        <name>fLengthPart2String</name>
        <dataType>Number</dataType>
        <expression>LEN({!vPart2String})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fLengthProcessString</name>
        <dataType>Number</dataType>
        <expression>LEN(
TRIM(RIGHT({!vSelections}, LEN({!vSelections}) - FIND(&quot; &quot;, {!vSelections})))
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fQuestionCount</name>
        <dataType>Number</dataType>
        <expression>VALUE({!X1220_QuestionPick})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fTrim1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(TRIM(LEFT( {!vSelections}, FIND(&quot;;&quot;,  {!vSelections}))), &quot;;&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fTrim2</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!vSelections}, LEN({!vSelections}) - FIND(&quot;;&quot;, {!vSelections})))</expression>
    </formulas>
    <interviewLabel>Exam Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exam Generator</label>
    <loops>
        <name>Loop_GSP_Questions</name>
        <label>Loop GSP Questions</label>
        <locationX>700</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>loopEachGSPquestion</assignNextValueToReference>
        <collectionReference>Get_GSP_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_GSP_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_GSP_Exam_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewQuestions</name>
        <label>loopNewQuestions</label>
        <locationX>896</locationX>
        <locationY>1083</locationY>
        <assignNextValueToReference>loopExamQns</assignNextValueToReference>
        <collectionReference>Get_Theory_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Process_Section_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopSections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopSections</name>
        <label>loopSelections</label>
        <locationX>625</locationX>
        <locationY>845</locationY>
        <assignNextValueToReference>loopTheorySelections</assignNextValueToReference>
        <collectionReference>vTheorySelectionArray</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Section_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Exam_Questions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Exam</name>
        <label>Create New Exam</label>
        <locationX>485</locationX>
        <locationY>845</locationY>
        <assignRecordIdToReference>vExamId</assignRecordIdToReference>
        <connector>
            <targetReference>loopSections</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Exam__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newExamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Questions__c</field>
            <value>
                <elementReference>vQuestonCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>vExamType</elementReference>
            </value>
        </inputAssignments>
        <object>Exam__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Exam_Questions</name>
        <label>Create New Exam Questions</label>
        <locationX>1072</locationX>
        <locationY>844</locationY>
        <connector>
            <targetReference>New_Exam_Created</targetReference>
        </connector>
        <inputReference>vNewTheoryExamUPLOAD</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_GSP_Exam</name>
        <label>Create New GSP Exam</label>
        <locationX>536</locationX>
        <locationY>335</locationY>
        <assignRecordIdToReference>vExamId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_GSP_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>Available__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Exam__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>newGSPExamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Questions__c</field>
            <value>
                <elementReference>vQuestonCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>vExamType</elementReference>
            </value>
        </inputAssignments>
        <object>Exam__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_GSP_Exam_Questions</name>
        <label>Create New GSP Exam Questions</label>
        <locationX>1072</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>New_Exam_Created</targetReference>
        </connector>
        <inputReference>vGSPexamQuestionsUPLOAD</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_GSP_Questions</name>
        <label>Get GSP Questions</label>
        <locationX>537</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_GSP_Exam</targetReference>
        </connector>
        <filters>
            <field>Exam_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam_Question__c</object>
        <sortField>Random__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get exam questions</description>
        <name>Get_Theory_Questions</name>
        <label>Get Theory Questions</label>
        <locationX>757</locationX>
        <locationY>1245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopNewQuestions</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Section__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>vExamSection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exam_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>cTheory</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam_Question__c</object>
        <sortField>Random__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Collect_Information</name>
        <label>Collect Information</label>
        <locationX>149</locationX>
        <locationY>378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>examType</targetReference>
        </connector>
        <fields>
            <name>Welcome</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Welcome to the Exam Generator&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This allows you generate a new exam using existing questions&lt;/p&gt;&lt;p&gt;Just follow the prompts and an exam will be created for you.&lt;/p&gt;&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pick_Exam_Type</name>
            <choiceReferences>ceGSP</choiceReferences>
            <choiceReferences>ceTheory</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick Exam Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>GSPpage</name>
        <label>GSPpage</label>
        <locationX>274</locationX>
        <locationY>211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PreGSP_Assignments</targetReference>
        </connector>
        <fields>
            <name>GSPText</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter a new (unique) name for this GSP exam:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newGSPExamName</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>gspSeperator</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayTextGSPQuestions</name>
            <fieldText>&lt;p&gt;&lt;b&gt;New GS&amp;amp;P Exam will be generated with 50 questions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Exam_Created</name>
        <label>New Exam Created</label>
        <locationX>1072</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayCompletion</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Your new {!vExamType} exam: {!vExamName} has been created!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pick_Theory_Sections</name>
        <label>Pick Theory Sections</label>
        <locationX>274</locationX>
        <locationY>569</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SectionsList</targetReference>
        </connector>
        <fields>
            <name>whatIsTheExamName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please enter a new (unique) name for this exam:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>newExamName</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>sectionDivider</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TheoryHeader</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Theory Exam Section Selection&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Which_Theory_Sections</name>
            <choiceReferences>cePhysicsSection</choiceReferences>
            <choiceReferences>cePhysiologyChoice</choiceReferences>
            <choiceReferences>ceRDP</choiceReferences>
            <choiceReferences>ceSkills</choiceReferences>
            <choiceReferences>ceEquipment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Theory Section(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSection</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>X1220_QuestionPick</name>
            <choiceReferences>ce12Questions</choiceReferences>
            <choiceReferences>ce20Questions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How many questions do you want to generate?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>37</locationX>
        <locationY>378</locationY>
        <connector>
            <targetReference>Collect_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ceTheory20Q</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>loopEachGSPquestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>loopExamQns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>loopTheorySelections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAllGSPquestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vBuildExamQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamQnsMainList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vExamSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGSPexamQuestionsUPLOAD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <description>Process and setup each new GSP question for Insert</description>
        <name>vLoopEachNewGSP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vLoopEachNewQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vLoopGSPQCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vLoopQCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vNewExamQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vNewTheoryExamUPLOAD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vPart1String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPart2String</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Intermediate Set</description>
        <name>vQnsISset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vQuestonCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vSelections</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Copy object - Exam Questions</description>
        <name>vTheoryQuestionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vTheorySelectionArray</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
