force-app/main/default/flows/Exam_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Exam_Completed</name>
        <label>Exam Completed</label>
        <locationX>658</locationX>
        <locationY>245</locationY>
        <assignmentItems>
            <assignToReference>vExamCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Exam_Not_Completed</name>
        <label>Exam Not Completed</label>
        <locationX>272</locationX>
        <locationY>248</locationY>
        <assignmentItems>
            <assignToReference>vExamCompleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_ErId</name>
        <label>Get ErId</label>
        <locationX>782</locationX>
        <locationY>34</locationY>
        <assignmentItems>
            <assignToReference>vErId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_New_Exam_Result_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Exam_Completion</name>
        <label>Check Exam Completion</label>
        <locationX>450</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Exam_Not_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Complete</defaultConnectorLabel>
        <rules>
            <name>Is_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vPhysicsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPhysiologyComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRDPcomplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSkillsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEquipmentComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Completed</targetReference>
            </connector>
            <label>Is Complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_or_New_Exam</name>
        <label>Existing or New Exam?</label>
        <locationX>449</locationX>
        <locationY>35</locationY>
        <defaultConnector>
            <targetReference>Create_New_Exam_Result_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Exist</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vErId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_Exam_Completion</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <interviewLabel>Exam Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exam Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Exam_Result_Record</name>
        <label>Create New Exam Result Record</label>
        <locationX>644</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Get_ErId</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate2__c</field>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Email__c</field>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exam__c</field>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDC__c</field>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Get_Exam_Result_Record</name>
        <label>Check/Get Exam Result Record</label>
        <locationX>351</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_or_New_Exam</targetReference>
        </connector>
        <filters>
            <field>Candidate2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </filters>
        <object>Exam_Result__c</object>
        <outputAssignments>
            <assignToReference>vEquipmentComplete</assignToReference>
            <field>Equipment_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vErId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPhysicsComplete</assignToReference>
            <field>Physics_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPhysiologyComplete</assignToReference>
            <field>Physiology_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRDPcomplete</assignToReference>
            <field>RDP_Complete__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vResultsTranscript</assignToReference>
            <field>Results_Transcript__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSkillsComplete</assignToReference>
            <field>Skills_Complete__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Exam_Details</name>
        <label>Get Exam Details</label>
        <locationX>241</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Exam_Result_Record</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <object>Exam__c</object>
        <outputAssignments>
            <assignToReference>vExamName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamType</assignToReference>
            <field>Type__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>106</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Get_Exam_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vCandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCdStaffSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEquipmentComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Exam Result Id</description>
        <name>vErId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPhysicsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPhysiologyComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRDPcomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResultsTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSkillsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
