force-app/main/default/flows/Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Capture_Answer</name>
        <label>Capture Answer</label>
        <locationX>1223</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>vSelectedAnswer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>candAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSectionEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGetDateTimeNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Answer_Correct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Missed_Questions</name>
        <label>Clear Missed Questions</label>
        <locationX>1334</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>vMissedQuestionList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBlankMissedQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_GSP_Questions_List</name>
        <label>Get GSP Questions List</label>
        <locationX>852</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>vIDCexamQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getGSPexamQuestions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getEachQuestionEl</name>
        <label>getEachQuestionElement</label>
        <locationX>1086</locationX>
        <locationY>523</locationY>
        <assignmentItems>
            <assignToReference>vExamSection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Exam_Section__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vpCorrectAnswer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Correct_Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQuestion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Question_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQuestionNo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCdStaffSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.CD_Staff_Solution__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Exam_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamQuestionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Exam_Question_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vQuestionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionLoop.Question_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set question error text for transcription</description>
        <name>Incorrect_Answer</name>
        <label>Incorrect Answer</label>
        <locationX>1578</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>vResultsTranscript</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fResultsSectionHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Question_No__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionNo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Exam_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vQuestionId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Question_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>displayQuestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Correct_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vpCorrectAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Your_Answer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vSelectedAnswer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedExamQuestion.Exam_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResultsTranscript</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fErrorChain</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vResultsTranscript</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>displayQuestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedQuestionList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vMissedExamQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_End_of_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Working_Variables</name>
        <label>Initialize Working Variables</label>
        <locationX>155</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>vErrorCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCdStaffSolution</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vMissedQuestionList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vMissedQuestionList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSectionStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fGetDateTimeNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vExamType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue/>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>chooseExam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Equipment</name>
        <label>Set Equipment</label>
        <locationX>387</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>vTheorySectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Equipment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Physics</name>
        <label>Set Physics</label>
        <locationX>392</locationX>
        <locationY>471</locationY>
        <assignmentItems>
            <assignToReference>vTheorySectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Physics</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Physiology_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Physiology</name>
        <label>Set Physiology</label>
        <locationX>391</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>vTheorySectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Physiology</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RDP_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Question_Loop_Set</name>
        <label>Set Question Loop Set</label>
        <locationX>945</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>vIDCexamQuestions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Theory_Questions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopQuestions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_RDP</name>
        <label>Set RDP</label>
        <locationX>390</locationX>
        <locationY>473</locationY>
        <assignmentItems>
            <assignToReference>vTheorySectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>RDP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_Section</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Skills</name>
        <label>Set Skills</label>
        <locationX>390</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>vTheorySectionList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Skills &amp; Environment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Equipment_Section</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check end of section using question number</description>
        <name>Check_End_of_Section</name>
        <label>Check End of Section</label>
        <locationX>1445</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>loopQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_of_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamQuestionCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vQuestionNo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_Results</targetReference>
            </connector>
            <label>End of Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Exam_Type</name>
        <label>Check Exam Type</label>
        <locationX>567</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>getGSPexamQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is GSP</defaultConnectorLabel>
        <rules>
            <name>Is_Theory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Theory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Physics_Sections</targetReference>
            </connector>
            <label>Is Theory?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equipment_Section</name>
        <label>Equipment Section?</label>
        <locationX>515</locationX>
        <locationY>476</locationY>
        <defaultConnector>
            <targetReference>Loop_Sections</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipment_Complete</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vEquipmentComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vEquipmentComplete</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Equipment</targetReference>
            </connector>
            <label>Equipment Complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Had_Errors</name>
        <label>Exam Had Errors</label>
        <locationX>1667</locationX>
        <locationY>346</locationY>
        <defaultConnector>
            <targetReference>loopQuestions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Errors</defaultConnectorLabel>
        <rules>
            <name>Has_Errors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vErrorCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vErId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Missed_Question_List</targetReference>
            </connector>
            <label>Has Errors?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the exam already been completed</description>
        <name>Exam_Status</name>
        <label>Exam Status</label>
        <locationX>357</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>Check_Exam_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Exam Not Complete</defaultConnectorLabel>
        <rules>
            <name>Exam_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamCompleted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Completed_Screen</targetReference>
            </connector>
            <label>Exam Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Physics_Sections</name>
        <label>Physics Sections</label>
        <locationX>510</locationX>
        <locationY>477</locationY>
        <defaultConnector>
            <targetReference>Physiology_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Physics_Section</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vPhysicsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPhysicsComplete</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Physics</targetReference>
            </connector>
            <label>Physics Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Physiology_Section</name>
        <label>Physiology Section?</label>
        <locationX>517</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>RDP_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Physiology</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vPhysiologyComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vPhysiologyComplete</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Physiology</targetReference>
            </connector>
            <label>Is Physiology?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Question_Answer_Correct</name>
        <label>Question Answer Correct?</label>
        <locationX>1340</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_End_of_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Correct Answer?</defaultConnectorLabel>
        <rules>
            <name>Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vpCorrectAnswer</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>vSelectedAnswer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Answer</targetReference>
            </connector>
            <label>Incorrect?</label>
        </rules>
    </decisions>
    <decisions>
        <name>RDP_Section</name>
        <label>RDP Section?</label>
        <locationX>514</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Skills_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RDP_Complete</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vRDPcomplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRDPcomplete</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_RDP</targetReference>
            </connector>
            <label>RDP Complete?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skills_Section</name>
        <label>Skills Section?</label>
        <locationX>513</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Equipment_Section</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skills_Complete</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>vSkillsComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vSkillsComplete</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Skills</targetReference>
            </connector>
            <label>Skills Complete?</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Answer to exam questions</description>
        <name>examQuestionAnswers</name>
        <dataType>String</dataType>
        <displayField>Correct_Answer__c</displayField>
        <object>Exam_Question__c</object>
        <sortField>Correct_Answer__c</sortField>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuestionAnswers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Correct_Answer__c</picklistField>
        <picklistObject>Exam_Question__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordChoiceSetPickExam</name>
        <dataType>String</dataType>
        <displayField>Exam_Name__c</displayField>
        <filters>
            <field>Assigned_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </filters>
        <filters>
            <field>Current_IDC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Exam_Assigned__c</object>
        <outputAssignments>
            <assignToReference>vExamId</assignToReference>
            <field>Exam__c</field>
        </outputAssignments>
        <sortField>Exam_Type__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Exam_Name__c</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>fErrorChain</name>
        <dataType>String</dataType>
        <expression>&quot;  *Question: &quot;&amp;{!vTempQno}&amp;&quot;, Your Answer:  &quot;&amp;{!vSelectedAnswer}&amp; &quot; , Correct Answer: &quot;&amp;{!vpCorrectAnswer}&amp; &quot; /  &quot;</expression>
    </formulas>
    <formulas>
        <name>fGetDateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>fResultsSectionHeader</name>
        <dataType>String</dataType>
        <expression>&quot;****** &quot; &amp; {!vExamType} &amp; &quot; &quot; &amp;{!vExamSection}</expression>
    </formulas>
    <formulas>
        <name>vFinalScore</name>
        <dataType>Number</dataType>
        <expression>(({!vExamQuestionCount}-{!vErrorCount})/{!vExamQuestionCount})*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Take Exam</label>
    <loops>
        <name>Loop_Sections</name>
        <label>Loop Sections</label>
        <locationX>699</locationX>
        <locationY>459</locationY>
        <assignNextValueToReference>vLoopEachSection</assignNextValueToReference>
        <collectionReference>vTheorySectionList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Theory_Questions</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopQuestions</name>
        <label>loopQuestions</label>
        <locationX>1084</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>vQuestionLoop</assignNextValueToReference>
        <collectionReference>vIDCexamQuestions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getEachQuestionEl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Sections</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create the Missed Question Lines</description>
        <name>Missed_Question_List</name>
        <label>Missed Question List</label>
        <locationX>1460</locationX>
        <locationY>237</locationY>
        <connector>
            <targetReference>Clear_Missed_Questions</targetReference>
        </connector>
        <inputReference>vMissedQuestionList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Theory_Questions</name>
        <label>Get Theory - Questions</label>
        <locationX>939</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Question_Loop_Set</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Section__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLoopEachSection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam_Question__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Exam_Section__c</queriedFields>
        <queriedFields>Exam_Type__c</queriedFields>
        <queriedFields>Correct_Answer__c</queriedFields>
        <queriedFields>Question_Text__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Exam_Question_Count__c</queriedFields>
        <queriedFields>CD_Staff_Solution__c</queriedFields>
        <queriedFields>Exam_Name_Text__c</queriedFields>
        <queriedFields>Question_Category__c</queriedFields>
        <sortField>Question__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getGSPexamQuestions</name>
        <label>getExamQuestions</label>
        <locationX>728</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GSP_Questions_List</targetReference>
        </connector>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Exam_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GSP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam_Question__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Exam_Section__c</queriedFields>
        <queriedFields>Exam_Type__c</queriedFields>
        <queriedFields>Correct_Answer__c</queriedFields>
        <queriedFields>Question_Text__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Exam_Question_Count__c</queriedFields>
        <queriedFields>CD_Staff_Solution__c</queriedFields>
        <queriedFields>Exam_Name_Text__c</queriedFields>
        <queriedFields>Question_Category__c</queriedFields>
        <sortField>Question__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>chooseExam</name>
        <label>Choose Exam</label>
        <locationX>251</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Exam_Result_Id</targetReference>
        </connector>
        <fields>
            <name>RB</name>
            <choiceReferences>RecordChoiceSetPickExam</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Exams:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSeparator</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotesToCandidates</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;Notes to Candidates:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Theory exams answers will be saved at the end of each section. If you quit the exam without completing the section your answers will not be saved&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;GS&amp;amp;P Exams - All answers are saved at the end of the exam&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;On completion of the exam - your score will be emailed to you immediately.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exam_Completed_Screen</name>
        <label>Exam Completed</label>
        <locationX>365</locationX>
        <locationY>58</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>examCompletedMessage</name>
            <fieldText>&lt;p&gt;&lt;b&gt;The exam you selected has already been &lt;u&gt;completed&lt;/u&gt;.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Please go back and select another exam!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question</name>
        <label>Question</label>
        <locationX>1086</locationX>
        <locationY>729</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Answer</targetReference>
        </connector>
        <fields>
            <name>subHeader</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Exam:  {!vExamName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(27, 43, 220);&quot;&gt;{!vExamSection}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayQuestion</name>
            <fieldText>&lt;p&gt;{!vQuestionLoop.Question_Text__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>candAnswer</name>
            <choiceReferences>QuestionAnswers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick the correct answer from list:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please pick the correct answer for this question&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Initialize_Working_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Pre-fetch exam results id</description>
        <name>Get_Exam_Result_Id</name>
        <label>Get Exam Result Id</label>
        <locationX>365</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Exam_Status</targetReference>
        </connector>
        <flowName>Exam_Results</flowName>
        <inputAssignments>
            <name>vCandidateEmail</name>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCandidateId</name>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vErId</name>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamId</name>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamName</name>
            <value>
                <elementReference>vExamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamType</name>
            <value>
                <elementReference>vExamType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIDC</name>
        </inputAssignments>
        <inputAssignments>
            <name>vResultsTranscript</name>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vEquipmentComplete</assignToReference>
            <name>vEquipmentComplete</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vErId</assignToReference>
            <name>vErId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamCompleted</assignToReference>
            <name>vExamCompleted</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamName</assignToReference>
            <name>vExamName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamType</assignToReference>
            <name>vExamType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPhysicsComplete</assignToReference>
            <name>vPhysicsComplete</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vPhysiologyComplete</assignToReference>
            <name>vPhysiologyComplete</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vRDPcomplete</assignToReference>
            <name>vRDPcomplete</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vResultsTranscript</assignToReference>
            <name>vResultsTranscript</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSkillsComplete</assignToReference>
            <name>vSkillsComplete</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Write_Results</name>
        <label>Write Results</label>
        <locationX>1675</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Exam_Had_Errors</targetReference>
        </connector>
        <flowName>Write_Results</flowName>
        <inputAssignments>
            <name>vCandidateEmail</name>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCandidateId</name>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vEquipmentComplete</name>
            <value>
                <elementReference>vEquipmentComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vErrorCount</name>
            <value>
                <elementReference>vErrorCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamId</name>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamName</name>
            <value>
                <elementReference>vExamName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamQuestionCount</name>
            <value>
                <elementReference>vQuestionLoop.Exam_Question_Count__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamSection</name>
            <value>
                <elementReference>vExamSection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamType</name>
            <value>
                <elementReference>vExamType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPhysicsComplete</name>
            <value>
                <elementReference>vPhysicsComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vPhysiologyComplete</name>
            <value>
                <elementReference>vPhysiologyComplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vRDPcomplete</name>
            <value>
                <elementReference>vRDPcomplete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vResultsTranscript</name>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSectionEnd</name>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSectionStart</name>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vSkillsComplete</name>
            <value>
                <elementReference>vSkillsComplete</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vErrorCount</assignToReference>
            <name>vErrorCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSectionEnd</assignToReference>
            <name>vSectionEnd</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSectionStart</assignToReference>
            <name>vSectionStart</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>studentAnswerButton</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBlankMissedQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Missed_Question__c</objectType>
    </variables>
    <variables>
        <name>vCandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCdStaffSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vEquipmentComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Exam Result Id</description>
        <name>vErId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vErrorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamCompleted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vExamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Assigned Course ID which is passed into this flow</description>
        <name>vIDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vIDCexamQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vLoopEachSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vLoopMissedQuestions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Missed_Question__c</objectType>
    </variables>
    <variables>
        <name>vMissedExamQuestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Missed_Question__c</objectType>
    </variables>
    <variables>
        <name>vMissedQuestionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Exam_Missed_Question__c</objectType>
    </variables>
    <variables>
        <name>vpCorrectAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPhysicsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vPhysiologyComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Id of the Question</description>
        <name>vQuestionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vQuestionLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exam_Question__c</objectType>
    </variables>
    <variables>
        <name>vQuestionNo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vRDPcomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Exam result transcript of scoring</description>
        <name>vResultsTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSectionEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSectionStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSelectedAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSkillsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>vStudentAnswerOptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vTempQno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>vQuestionNo</elementReference>
        </value>
    </variables>
    <variables>
        <name>vTheorySectionList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
