force-app/main/default/flows/Write_Results.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Equipment_Complete</name>
        <label>Equipment Complete</label>
        <locationX>923</locationX>
        <locationY>1177</locationY>
        <assignmentItems>
            <assignToReference>vEquipmentComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Physics_Assigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Physics_Complete</name>
        <label>Physics Complete</label>
        <locationX>895</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>vPhysicsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Physics_Assigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Physiology_Complete</name>
        <label>Physiology Complete</label>
        <locationX>910</locationX>
        <locationY>629</locationY>
        <assignmentItems>
            <assignToReference>vPhysiologyComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Physics_Assigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Post_Physics_Assigns</name>
        <label>Post Results Assigns</label>
        <locationX>1125</locationX>
        <locationY>740</locationY>
        <assignmentItems>
            <assignToReference>vSectionStart</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDateTimeNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSectionEnd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDateTimeNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vErrorCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>RDP_Complete</name>
        <label>RDP Complete</label>
        <locationX>911</locationX>
        <locationY>817</locationY>
        <assignmentItems>
            <assignToReference>vRDPcomplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Physics_Assigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Skills_Complete</name>
        <label>Skills Complete</label>
        <locationX>919</locationX>
        <locationY>994</locationY>
        <assignmentItems>
            <assignToReference>vSkillsComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Physics_Assigns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Equipment</name>
        <label>Is Equipment?</label>
        <locationX>563</locationX>
        <locationY>1181</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Equipment_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Equipment_Score</targetReference>
            </connector>
            <label>Equipment Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Physics</name>
        <label>Is Physics?</label>
        <locationX>559</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>Is_Physiology</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Physics</defaultConnectorLabel>
        <rules>
            <name>Physics_Theory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physics</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Physics_Score</targetReference>
            </connector>
            <label>Physics Theory?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Physiology</name>
        <label>Is Physiology</label>
        <locationX>559</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>Is_RDP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Physiology</defaultConnectorLabel>
        <rules>
            <name>Physiology_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physiology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Physiology_Score</targetReference>
            </connector>
            <label>Physiology Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RDP</name>
        <label>Is RDP?</label>
        <locationX>561</locationX>
        <locationY>819</locationY>
        <defaultConnector>
            <targetReference>Is_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not RDP</defaultConnectorLabel>
        <rules>
            <name>RDP_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RDP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RDP_Score</targetReference>
            </connector>
            <label>RDP Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Skills</name>
        <label>Is Skills?</label>
        <locationX>560</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Is_Equipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Skills</defaultConnectorLabel>
        <rules>
            <name>Skills_Section</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamSection</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Skills</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Skills_Score</targetReference>
            </connector>
            <label>Skills Section?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Candidate_Exam</name>
        <label>Which Candidate Exam?</label>
        <locationX>356</locationX>
        <locationY>442</locationY>
        <defaultConnector>
            <targetReference>Is_Physics</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Theory Exam</defaultConnectorLabel>
        <rules>
            <name>GSP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vExamType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GSP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GSP_Score</targetReference>
            </connector>
            <label>GSP</label>
        </rules>
    </decisions>
    <formulas>
        <name>fDateTimeNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>sExamScore</name>
        <dataType>Number</dataType>
        <expression>(({!vExamQuestionCount}-{!vErrorCount})/{!vExamQuestionCount})*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Write Results {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Write Results</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Equipment_Score</name>
        <label>Set Equipment Score</label>
        <locationX>767</locationX>
        <locationY>1177</locationY>
        <connector>
            <targetReference>Equipment_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Equipment_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GSP_Score</name>
        <label>Set GSP Score</label>
        <locationX>364</locationX>
        <locationY>255</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>GSP_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSP_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSP_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GSP_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Physics_Score</name>
        <label>Set Physics Score</label>
        <locationX>766</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Physics_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Physics_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physics_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physics_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physics_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Physiology_Score</name>
        <label>Set Physiology Score</label>
        <locationX>767</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>Physiology_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Physiology_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physiology_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physiology_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physiology_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RDP_Score</name>
        <label>Set RDP Score</label>
        <locationX>765</locationX>
        <locationY>817</locationY>
        <connector>
            <targetReference>RDP_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RDP_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDP_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDP_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RDP_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Skills_Score</name>
        <label>Set Skills Score</label>
        <locationX>767</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Skills_Complete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vErId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Results_Transcript__c</field>
            <value>
                <elementReference>vResultsTranscript</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills_End_Time__c</field>
            <value>
                <elementReference>vSectionEnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills_Environment_Score__c</field>
            <value>
                <elementReference>sExamScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skills_Start_Time__c</field>
            <value>
                <elementReference>vSectionStart</elementReference>
            </value>
        </inputAssignments>
        <object>Exam_Result__c</object>
    </recordUpdates>
    <start>
        <locationX>182</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Which_Candidate_Exam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vCandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateFName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCandidateLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCdStaffSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEquipmentComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Exam Result Id</description>
        <name>vErId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vErrorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamQuestionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPhysicsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPhysiologyComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vRDPcomplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vResultsTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSectionEnd</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSectionStart</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSkillsComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
