manifest/unpackaged/flows/Candidate_IDC_Exam_Taker.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Candidate flow for taking exams</description>
    <interviewLabel>Candidate IDC Exam Taker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidate IDC Exam Taker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Exam_Completed</name>
        <label>Exam Completed</label>
        <locationX>415</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>completionMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Congratulations!    &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your exam is complete!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your score and exam details will be emailed to you at:  {!vCandidateEmail}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Baseline_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Get details of current IDC, etc.</description>
        <name>Set_Baseline_Information</name>
        <label>Set Baseline Information</label>
        <locationX>165</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Take_the_Exam</targetReference>
        </connector>
        <flowName>Check_Baseline_Data</flowName>
        <outputAssignments>
            <assignToReference>vCandidateEmail</assignToReference>
            <name>vCandidateEmail</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCandidateId</assignToReference>
            <name>vCandidateId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamId</assignToReference>
            <name>vExamId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vIDC</assignToReference>
            <name>vIDC</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Take the candidate exam</description>
        <name>Take_the_Exam</name>
        <label>Take the Exam</label>
        <locationX>292</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Exam_Completed</targetReference>
        </connector>
        <flowName>Test</flowName>
        <inputAssignments>
            <name>vCandidateEmail</name>
            <value>
                <elementReference>vCandidateEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vCandidateId</name>
            <value>
                <elementReference>vCandidateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vExamQuestionCount</name>
            <value>
                <elementReference>vExamQuestionCounts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>vIDC</name>
            <value>
                <elementReference>vIDC</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>vCandidateId</assignToReference>
            <name>vCandidateId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCdStaffSolution</assignToReference>
            <name>vCdStaffSolution</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vErrorCount</assignToReference>
            <name>vErrorCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamId</assignToReference>
            <name>vExamId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamQuestionCounts</assignToReference>
            <name>vExamQuestionCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamSection</assignToReference>
            <name>vExamSection</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vExamType</assignToReference>
            <name>vExamType</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vResultsTranscript</assignToReference>
            <name>vResultsTranscript</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>vCandidateEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCandidateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCdStaffSolution</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vErrorCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamQuestionCount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamQuestionCounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vExamSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vExamType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vIDC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vResultsTranscript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
