manifest/unpackaged/flows/DELETE_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No?</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes?</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Delete</name>
        <label>Check Delete</label>
        <locationX>485</locationX>
        <locationY>497</locationY>
        <defaultConnector>
            <targetReference>Delete_Declined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>DeleteOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Exam_Questions</targetReference>
            </connector>
            <label>DeleteOK</label>
        </rules>
    </decisions>
    <description>Delete no longer wanted IDC Generated Exam</description>
    <dynamicChoiceSets>
        <name>RecordChoiceSetEXAMS</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Custom_Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Exam__c</object>
        <outputAssignments>
            <assignToReference>vExamId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Type__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>DELETE Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DELETE Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Exam</name>
        <label>Delete Exam</label>
        <locationX>493</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>ExamDeleted</targetReference>
        </connector>
        <inputReference>Get_Exam_by_ID</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Exam_Questions</name>
        <label>Delete Exam Questions</label>
        <locationX>493</locationX>
        <locationY>667</locationY>
        <connector>
            <targetReference>Delete_Exam</targetReference>
        </connector>
        <inputReference>Get_Associated_Questions</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Associated_Questions</name>
        <label>Get Associated Questions</label>
        <locationX>286</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Exam_by_ID</targetReference>
        </connector>
        <filters>
            <field>Exam__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Exam_Question__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exam_by_ID</name>
        <label>Get Exam by ID</label>
        <locationX>388</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirm_Delete</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vExamId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Exam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>chooseExam</name>
        <label>Choose Exam</label>
        <locationX>173</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Associated_Questions</targetReference>
        </connector>
        <fields>
            <name>RB</name>
            <choiceReferences>RecordChoiceSetEXAMS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Pick an Exam to Delete:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSeparator</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NotesToStaff</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 11px;&quot;&gt;&lt;u&gt;Notes to Staff:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;This utility can be used to delete any unwanted exams&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;Simply pick the exam you want to delete and follow the prompts.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;The Exam and Exam Questions will bot be deleted! &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Delete</name>
        <label>Confirm Delete</label>
        <locationX>493</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Delete</targetReference>
        </connector>
        <fields>
            <name>DisplayPrompt</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Please confirm - Are you sure you want to delete this exam:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(50, 28, 195);&quot;&gt;{!Get_Exam_by_ID.Name}  -  {!Get_Exam_by_ID.Number_of_Questions__c} Questions  -  {!Get_Exam_by_ID.Type__c}  &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesNo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Delete_Declined</name>
        <label>Delete Declined</label>
        <locationX>316</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>chooseExam</targetReference>
        </connector>
        <fields>
            <name>deleteDeclined</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Delete declined!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Returning to start for re-selection.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExamDeleted</name>
        <label>ExamDeleted</label>
        <locationX>318</locationX>
        <locationY>803</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>chooseExam</targetReference>
        </connector>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Exam has been deleted!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>chooseExam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vExamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
